* {
  margin: 0;
  padding: 0;
}

body {
  background: url(images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: 'Red Hat Display';
  font-weight: 500;
}

/* Main Content Box */

.pagewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contentbox {
  background-color: white;
  width: 26rem;
  border-radius: 18px;
}

/* Hero Image */

.heroimg img {
  width: 26rem;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

/* Main Content */

.maincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 2rem;
}

.maincontent h1 {
  font-size: 1.6rem;
  color: hsl(223, 47%, 23%);
}

.maincontent p {
  font-size: 1rem;
  text-align: center;
  padding: .8rem;
  color: #86889d;
  font-weight: 400;
  line-height: 1.5rem;
}

/* Plan Box */

.planbox {
  background: hsl(225, 100%, 98%);
  display: flex;
  align-items: center;
  padding: 1.1rem 1.5rem;
  border-radius: 10px;
  margin-top: .5rem;
}

.planbox img {
  width: 45px;
}

.planbox a, .planbox a:visited {
  font-size: .8rem;
  font-weight: 600;
  color: hsl(245, 75%, 52%)
}

.planbox a:hover {
  font-size: .8rem;
  font-weight: 600;
  color: #766cf1;
  text-decoration: none;
}

.plantext {
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
  padding-right: 5rem;
}

.plantext p {
  padding: .1rem;
  text-align: unset;
}

.plantext p:first-of-type {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
  font-size: .98rem;
}

button {
  background: hsl(245, 75%, 52%);
  color: white;
  font-size: .9rem;
  font-weight: 600;
  border: none;
  margin-top: 2rem;
  padding: .9rem 5.8rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 33px -5px rgba(47,35,189,0.42); 
  box-shadow: 0px 10px 33px -5px rgba(47,35,189,0.42);
}

button:hover {
  background: #766cf1;
  cursor: pointer;
}

.cancel {
  text-decoration: none;
  font-size: .8rem;
  font-weight: 600;
  color: #86889d;
  margin-top: 1.8rem;
  margin-bottom: .7rem;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
}


/* Attribution */

.attribution { 
  font-size: 11px; 
  text-align: center; 
  padding-top: 1.5rem;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
 }

 /* Mobile */

 @media (max-width: 800px) {

   body {
     background: url(images/pattern-background-mobile.svg);
     background-repeat: no-repeat;
     background-size: 100vw;
     background-color: hsl(225, 100%, 94%);

   }

   .contentbox {
     width: 20rem;
     margin-top: 1rem;
   }

   .heroimg img {
     width: 20rem;
   }

   .maincontent {
     margin: .2rem;
   }

   .maincontent h1 {
    font-size: 1.3rem;
    padding-top: 1.3rem;
  }
  
  .maincontent p {
    width: 16rem;
  }

  .planbox {
    width: 15rem;
    padding: 1rem 1rem;
  }

  .plantext {
    width: 2.8rem;
  }

  .plantext p, .plantext p:first-of-type {
    font-size: .9rem;
    padding: 0;
  }

  button {
    margin-top: 1.5rem;
    padding: 1rem 4rem;
  }

  .cancel {
    font-size: .93rem;
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
  }
   
 }