* {
  margin: 0;
  padding: 0;
}

body {
  background: url(/images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  font-family: 'Red Hat Display';
  font-weight: 500;
}

/* Main Content */





/* Attribution */

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%);
 }